body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    margin: 30px 100px;
}

form{
    margin: 40px 15px;
}

label, button{
    display: block;
}  

label{    
    margin: 5px 0px;
}

button{
    margin: 30px 0px;
    font-size: 20px;
    padding: 5px 10px;
    width: 160px;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #007700;
    color: #FFFF;
}

button:hover {
    background-color: #FFFFFF;
    color: #007700;
    transition: 0.5s ease;
}

input,select{
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-bottom: 3px solid #00FF7F;
    transition: 0.5s ease;
    
}

input:focus, select:focus{
    border-bottom: 3px solid #FF0000;
    transition: 0.5s ease;
}

select{
    background-color: #DCDCDC;
}

hr{
 border-color: #7FFFD4; 
}

h1{
    color: #007700;
    text-shadow: 1px 1px 1px #16161d;
}

.nome {
    width: 700px;
}

.data-nascimento {
    width: 120px;
}

.altura {
    width: 75px;;
}

.genero {
    width:  250px;
}